<!-- Begin Page Container -->
<div class="container-fluid">

    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">Broadcasting</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">

                <!-- Begins Schedules List -->
                <div class="widget">
                    <div class="widget-title">
                        <h4 class="span12">Message</h4>
                    </div>
                    <div class="widget-body">
                            <div ng-if="info" class="alert alert-info">
                                <button ng-click="info=''" class="close" data-dismiss="alert">×</button>
                                ^^info^^
                            </div>
                            <div ng-if="errorMessage" class="alert alert-error">
                                <button ng-click="errorMessage=''" class="close" data-dismiss="alert">×</button>
                                ^^errorMessage^^
                            </div>
                            <form class="form-horizontal" style="margin-right:20px">
                                <div style="margin-bottom:10px">
                                    <span>Recipients: </span>
                                    <select ng-model="to">
                                        <option value="">Select</option>
                                        <option value="ALL">All</option>
                                        <option value="CASTING">Casting</option>
                                        <option value="TALENTS">Talents</option>
                                    </select>
                                </div>
                                <textarea ng-model="message" rows="5" style="width:100%;margin-right:30px"/>
                                <div style="text-align:right;margin-left:20px;margin-top:10px">
                                    <button ng-disabled="working" ng-click="send()" class="btn btn-primary" style="text-align:right">Send</button>
                                </div>
                            </form>
                    </div>
                </div>
                <!-- Ends Schedules List -->

        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>

