<!-- Begin Page Container -->
<div class="container-fluid">

    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">Schedule</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">

            <div class="span12">

                <!-- Begin Sessions -->
                <div class="widget" ng-repeat="schedule in schedules">
                    <div class="widget-title">
                        <h4 class="span12">^^schedule.schedule_title^^</h4>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <!-- Talents -->
                            <div ng-if="schedule.attendees.length == 0" style="text-align:center">
                                No attendee for this session.
                            </div>
                            <div class="span4"
                                 style="margin-left:0px;margin-bottom:20px"
                                 ng-repeat="attendee in schedule.attendees">
                                <div class="span12">
                                    <div class="span4">
                                        <img ng-if="attendee.attendee_thumbnail_url"
                                             src="^^attendee.attendee_thumbnail_url^^"
                                             alt=""
                                             style="width:100px;height:100px">
                                        <img ng-if="!attendee.attendee_thumbnail_url"
                                             src="static/theme/img/avatar-mini.png"
                                             alt=""
                                             style="width:100px;height:100px">
                                    </div>
                                    <div class="span8">
                                        <!-- Audition # -->
                                        <div ng-if="attendee.attendee_audition_id" class="profile-name">
                                            Audition # <span style="background-color:red !important" class="label label-warning">^^attendee.attendee_audition_id^^</span>
                                        </div>
                                        <!-- Full name -->
                                        <div class="profile-name">^^attendee.attendee_first_name^^ ^^attendee.attendee_last_name^^</div>
                                        <!-- Buttons -->
                                        <div style="">
                                            <button style="margin-bottom:5px" ng-click="editSession($parent.$index, $index)" class="btn btn-small btn-primary">Edit Session</button><br/>
                                            <button ng-click="editAuditionNum($parent.$index, $index)" class="btn btn-small btn-info">Edit Audition #</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Ends Talents -->
                        </div>
                    </div>
                </div>
                <!-- Ends Sessions -->

            </div>

        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>

