<!-- Begin Page Container -->
<div class="container-fluid">
    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">^^profile.first_name^^ ^^profile.last_name^^</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
                <div class="widget" style="height:200px">
                    <div class="widget-title">
                        <h4>About</h4>
                    </div>
                    <div class="widget-body">
                        <div class="span12">
                            <div class="span6">
                                <div class="control-group">
                                    <div style="font-weight:bold">Email</div>
                                    <div>^^profile.add1^^ ^^profile.add2^^</div>
                                </div>
                                <div class="control-group">
                                <div style="font-weight:bold">Address</div>
                                    <div>^^profile.add1^^ ^^profile.add2^^</div>
                                    <div>^^profile.city^^, ^^profile.state^^ ^^profile.zip^^</div>
                                </div>
                            </div>
                            <div class="span6">
                                <div ng-if="profile.mobile" class="control-group">
                                    <div style="font-weight:bold">Mobile</div>
                                    <div>^^profile.mobile^^</div>
                                </div>
                                <div ng-if="profile.office" class="control-group">
                                    <div style="font-weight:bold">Office</div>
                                    <div>^^profile.office^^</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Organization</h4>
                    </div>
                    <div class="widget-body">

                    </div>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h4>Connect</h4>
                    </div>
                    <div class="widget-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>