<div style="width:100%;padding-top:20px">
    <label>Charges</label>
    <div class="input-group" style="width:100%;padding-bottom:5px">
        <div ng-if="!consignment.charges || consignment.charges.length == 0" class="well" style="width:100%">
            No charges added
        </div>
        <table ng-if="consignment.charges.length > 0" class="table table-bordered table-striped table-condensed" style="width:100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in consignment.charges">
                    <td style="width:55%">
                        <div ng-if="!charge.isNew">^^charge.description^^</div>
                        <div ng-if="charge.isNew">
                            <input ng-model="charge.description" class="form-control round-input">
                        </div>
                    </td>
                    <td style="width:10%">
                        <div ng-if="!charge.isNew">^^charge.quantity^^</div>
                        <div ng-if="charge.isNew">
                            <input ng-model="charge.quantity" class="form-control round-input">
                        </div>
                    </td>
                    <td style="width:10%">
                        <div ng-if="!charge.isNew">^^charge.cost^^</div>
                        <div ng-if="charge.isNew">
                            <input ng-model="charge.cost" class="form-control round-input">
                        </div>
                    </td>
                    <td style="width:10%">
                        <div>^^total($index).toFixed(2)^^</div>
                    </td>
                    <td class="numeric" style="text-align:center">
                        <div ng-if="!charge.isNew">
                            <button ng-click="removeCharge($index)" type="button" class="btn btn-danger">Remove</button>
                        </div>
                        <div ng-if="charge.isNew">
                            <button ng-click="doneAddCharge($index)" type="button" class="btn btn-success">Done</button>
                            <button ng-click="cancelAddCharge($index)" type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td></td>
                    <td></td>
                    <td>^^grandTotal().toFixed(2)^^</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top:-15px;text-align:right">
            <button ng-click="addCharge()" type="button" class="btn btn-primary">Add Charges</button>
        </div>
    </div>
</div>