<div class="login-header">
    <div id="logo" class="center">
        <img src="static/theme/img/logo.png" style="height:34px" alt="logo" class="center" />
    </div>
    <div route-loader style="margin-top:-10px" class="progress progress-striped progress-success active">
        <div style="width:100%;" class="bar"></div>
    </div>
</div>


<div class="span12">
    <div class="space20"/>
    <div class="space20"/>
    <div class="error-page">
        <img src="static/theme/img/500.png" alt="500 error">
        <h1>
            <strong>^^error.status^^!</strong>
            <br>
            ^^error.message^^
        </h1>
    </div>
</div>