<!-- Begin Page Container -->
<div class="container-fluid">

    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">Event Callbacks</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">

                <!-- Begins Schedules List -->
                <div class="widget" ng-repeat="callback in callbacks">
                    <div class="widget-title">
                        <img src="http://res.cloudinary.com/flash-solutions/image/upload/v1422309755/diuhe3gplqyj5mvxexfs.png" alt="" style="padding-top:3px;border-radius:100%;width:29px">
                        <h4>^^callback.callback_organization_name^^</h4>
                        <div ng-if="updating" style="padding-top:11px;width:100px;text-align:right" class="span3">
                            <div class="progress progress-striped progress-success active">
                                <div style="width: 100%;" class="bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                            <div ng-repeat="talent_callback in callback.talent_callbacks">
                                <span>
                                    <img ng-if="talent_callback.talent_thumbnail_url"
                                         src="^^talent_callback.talent_thumbnail_url^^"
                                         alt=""
                                         style="padding-top:3px;border-radius:100%;width:29px">
                                    <img ng-if="!talent_callback.talent_thumbnail_url"
                                         src="static/theme/img/avatar-mini.png"
                                         alt=""
                                         style="padding-top:3px;border-radius:100%;width:29px">
                                </span>
                                <span>
                                    <span>^^talent_callback.talent_first_name^^ ^^talent_callback.talent_last_name^^</span>
                                </span>
                                <span>
                                    <span>^^getCallbackType(talent_callback.callback_type)^^</span>
                                </span>
                            </div>
                        <div ng-repeat="talent_callback in talent_callbacks" style="margin-bottom:-5px" class="control-group">

                        </div>
                    </div>
                </div>
                <!-- Ends Schedules List -->

        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>

