<!-- Begin Page Container -->
<div class="container-fluid">

    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">Event Callbacks</h3>
        </div>
    </div>
    <!-- End Page Header -->

     <div class="row-fluid">
        <div class="search-input-area" style="margin-bottom:10px">
            <input ng-model="searchQuery" ng-change="search()" type="text" class="search-query" style="width:90%" placeholder="Search"/>
            <i style="margin-left:-25px" class="icon-search"></i>
        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">

                <!-- Begins Schedules List -->
                <div class="widget">
                    <div class="widget-title">
                        <h4 class="span12">Callbacks</h4>
                    </div>
                    <div class="widget-body">
                            <form class="form-horizontal">
                            <table class="table no-margin" style="width:100%" >
                                <thead>
                                    <tr>
                                        <th style="width:30%;text-align:left">From</th>
                                        <th style="width:30%;text-align:left">To</th>
                                        <th style="width:20%;text-align:left">Audition #</th>
                                        <th style="width:20%;text-align:left">Callback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="callback in callbacks">
                                        <td>
                                            <span>
                                                ^^callback.callback_organization_name^^
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                ^^callback.talent_first_name^^ ^^callback.talent_last_name^^
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                ^^callback.talent_audition_id^^
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                ^^getCallbackType(callback.callback_type)^^
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- Ends Schedules List -->

        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>

