<!-- Begin Page Container -->
<div class="container-fluid">
    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">^^profile.first_name^^ ^^profile.last_name^^</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">
            <div>^^profile.add1^^ ^^profile.add2^^</div>
            <div>^^profile.city^^, ^^profile.state^^ ^^profile.zip^^</div>
        </div>
    </div>
    <!-- End Page Content -->
</div>
<!-- End Page Container -->

<div route-loader class="alert alert-success loader">Loading...</div>