<!-- Begin Page Container -->
<div class="container-fluid">
    <!-- Begin Page Header -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">Link Requests</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Page Content -->
    <div class="row-fluid">
        <div class="span12">

            <!-- Talents -->
            <div class="span6">
                <div class="widget" ng-disabled="true">
                    <div class="widget-title">
                        <h4 class="span12">Talent Attendees</h4>
                    </div>
                    <div class="widget-body">
                        <table class="table">
                            <tr ng-repeat="attendee in talentAttendees | startFrom: currentTalentPage * talentPageSize | limitTo: talentPageSize">
                                <td style="width:20%">
                                    <img ng-if="attendee.attendee_thumbnail_url"
                                         src="^^attendee.attendee_thumbnail_url^^"
                                         alt=""
                                         style="width:100px">
                                    <img ng-if="!attendee.attendee_thumbnail_url"
                                         src="static/theme/img/avatar-mini.png"
                                         alt=""
                                         style="width:100px">
                                </td>
                                <td style="width:40%">
                                    <div class="profile-name">
                                        ^^attendee.attendee_first_name^^ ^^attendee.attendee_last_name^^
                                    </div>
                                    <div>
                                        ^^attendee.attendee_title^^
                                    </div>
                                </td>
                                <td style="width:40%;text-align:right;vertical-align:middle">
                                    <div ng-if="!attendee.is_accepted && !attendee.is_rejected && !attendee.updating">
                                        <button ng-click="acceptRequest($parent.$index, true)" class="btn btn-primary">Accept</button>
                                        <button ng-click="rejectRequest($parent.$index, true)" class="btn btn-danger">Reject</button>
                                    </div>
                                    <div ng-if="attendee.updating" style="padding-top:11px;width:100px;text-align:right">
                                        <div class="progress progress-striped progress-success active">
                                            <div style="width: 100%;" class="bar"></div>
                                        </div>
                                    </div>
                                    <span ng-if="attendee.is_accepted"
                                          class="label label-large label-success"
                                          style="font-size:14px">
                                        Approved
                                    </span>
                                    <span ng-if="attendee.is_rejected"
                                          class="label label-important"
                                          style="font-size:14px">
                                        Rejected
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#333333;text-align:center;margin-top:5px" colspan="3">
                                    <button ng-click="currentTalentPage=currentTalentPage-1" ng-disabled="currentTalentPage == 0" class="btn btn-primary"><</button>
                                    <span>^^currentTalentPage+1^^/^^talentPageCount()^^</span>
                                    <button ng-click="currentTalentPage=currentTalentPage+1" ng-disabled="currentTalentPage >= talentAttendees.length/talentPageSize - 1" class="btn btn-primary">></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Ends Talents -->

             <!-- Casting -->
            <div class="span6">
                <div class="widget" ng-disabled="true">
                    <div class="widget-title">
                        <h4 class="span12">Casting Attendees</h4>
                    </div>
                    <div class="widget-body">
                        <table class="table">
                            <tr ng-repeat="attendee in castingAttendees">
                                <td style="width:20%">
                                    <img ng-if="attendee.attendee_thumbnail_url"
                                         src="^^attendee.attendee_thumbnail_url^^"
                                         alt=""
                                         style="width:100px">
                                    <img ng-if="!attendee.attendee_thumbnail_url"
                                         src="static/theme/img/avatar-mini.png"
                                         alt=""
                                         style="width:100px">
                                </td>
                                <td style="width:40%">
                                    <div class="profile-name">
                                        ^^attendee.attendee_first_name^^ ^^attendee.attendee_last_name^^
                                    </div>
                                    <div>
                                        ^^attendee.organization_name^^
                                    </div>
                                </td>
                                <td style="width:40%;text-align:right;vertical-align:middle">
                                    <div ng-if="!attendee.is_accepted && !attendee.is_rejected && !attendee.updating">
                                        <button ng-click="acceptRequest($index, false)" class="btn btn-primary">Accept</button>
                                        <button ng-click="rejectRequest($index, false)" class="btn btn-danger">Reject</button>
                                    </div>
                                    <div ng-if="attendee.updating" style="padding-top:11px;width:100px;text-align:right">
                                        <div class="progress progress-striped progress-success active">
                                            <div style="width: 100%;" class="bar"></div>
                                        </div>
                                    </div>
                                    <span ng-if="attendee.is_accepted"
                                          class="label label-large label-success"
                                          style="font-size:14px">
                                        Approved
                                    </span>
                                    <span ng-if="attendee.is_rejected"
                                          class="label label-important"
                                          style="font-size:14px">
                                        Rejected
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Ends Casting -->

        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Page Container -->
</div>

<div route-loader class="alert alert-success loader">Loading...</div>

