<div class="btn-group">
    <button type="button" ng-click="exportAction()" class="btn btn-primary" style="width:200px">Export</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu" style="width:225px">
        <!--<li style="margin-left:8px;margin-right:8px;margin-top:2px">-->
            <!--<input placeholder="Filter" type="text" class="form-control"/>-->
        <!--</li>-->
        <!--<li class="divider"/>-->
        <li ng-repeat="entity in entities" style="text-align:left;margin-left:10px">
            <input type="checkbox" ng-click="toggleEntity($event, $index)" ng-checked="entity.selectedForExport" name="e[]" value="" id=""/>
            ^^entity.name^^ (^^entity.type^^)
        </li>
    </ul>
</div>