<section class="panel">
    <div class="panel-body">
        <section id="unseen">
            <section class="panel">
                <header class="panel-heading big-font">
                <div class="input-group" style="padding-bottom:5px">
                    Search Consignments
                    <div style="text-align:right">
                        <table>
                            <tr>
                                <td>
                                    <select
                                        ng-options="search as search.name for search in mySearches"
                                        ng-change="loadSearch()"
                                        ng-model="selectedSearch"
                                        class="form-control">
                                        <option value="">-- Saved Searches --</option>
                                    </select>
                                </td>
                                <td style="padding-left:5px">
                                    <button ng-if="selectedSearch.name" ng-click="removeSelectedSearch()" class="btn btn-danger" type="button">Remove</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </header>
                <div class="panel-body">
                    <form role="form">
                        <div style="width:100%;padding-top:20px">
                            <table>
                                <tr>
                                    <td>
                                        <label>By Consignor</label>
                                    </td>
                                    <td>
                                        <label>By Consignee</label>
                                    </td>
                                </tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px;padding-right:5px">
                                            <select ng-model="consignor" class="form-control">
                                                <option value="">-- Any Consignor --</option>
                                                <option ng-repeat="entity in entities" value="^^entity.id^^" ng-selected="^^consignment.consignor===entity.id^^">^^entity.name^^</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <select ng-model="consignee" class="form-control">
                                                <option value="">-- Any Consignee --</option>
                                                <option ng-repeat="entity in entities" value="^^entity.id^^" ng-selected="^^consignment.consignee===entity.id^^">^^entity.name^^</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <table>
                                <tr>
                                    <td>
                                        <label>By Pickup Address</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Postcode
                                    </td>
                                    <td>
                                        State
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px;padding-right:5px">
                                            <input ng-model="pickupPostcode" type="text" class="form-control" style="width:150px">
                                        </div>
                                    </td>
                                    <td style="padding-right:5px">
                                        <div class="input-group" style="padding-bottom:5px">
                                            <input ng-model="pickupState" type="text" class="form-control" style="width:150px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>By Delivery Address</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Postcode
                                    </td>
                                    <td>
                                        State
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <input ng-model="deliveryPostcode" type="text" class="form-control" style="width:150px">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <input ng-model="deliveryState" type="text" class="form-control" style="width:150px">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <label>By Account</label>
                            <div class="input-group" style="padding-bottom:5px">
                                <input ng-model="account" type="text" class="form-control" style="width:310px">
                            </div>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <label>By Customer Reference</label>
                            <div class="input-group" style="padding-bottom:5px">
                                <input ng-model="customerReference" type="text" class="form-control" style="width:310px">
                            </div>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <table>
                                <tr>
                                    <td>
                                        <label>By Modes</label>
                                    </td>
                                    <td>
                                        <label>By Statuses</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px;padding-right:5px">
                                            <select ng-model="mode" ng-options="mode for mode in modes track by mode" class="form-control" style="width:150px">
                                                <option value="">-- Any Mode --</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <select ng-model="status" ng-options="status for status in statuses track by status" class="form-control" style="width:150px">
                                                <option value="">-- Any Status --</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <table>
                                <tr>
                                    <td>
                                        <label>By Pickup Date</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        From
                                    </td>
                                    <td>
                                        To
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px;padding-right:5px" style="cursor:pointer">
                                            <span ng-click="openPickupStart($event)" class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                            <input
                                                ng-model="pickupStartDate"
                                                ng-click="openPickupStart($event)"
                                                type="text" class="form-control"
                                                style="width:150px"
                                                datepicker-popup="dd-MMM-yyyy HH:mm"
                                                min-mode="time"
                                                datepicker-mode="time"
                                                is-open="openedPickupStart"
                                                close-on-date-selection="true"
                                                date-disabled="disabled(date, mode)"
                                                show-button-bar="false"
                                                show-weeks="false"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <span ng-click="openPickupEnd($event)" class="input-group-addon" style="cursor:pointer">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                            <input
                                                ng-model="pickupEndDate"
                                                ng-click="openPickupEnd($event)"
                                                type="text" class="form-control"
                                                style="width:150px"
                                                datepicker-popup="dd-MMM-yyyy HH:mm"
                                                min-mode="time"
                                                datepicker-mode="time"
                                                is-open="openedPickupEnd"
                                                close-on-date-selection="true"
                                                date-disabled="disabled(date, mode)"
                                                show-button-bar="false"
                                                show-weeks="false"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button ng-click="pickupStartDate=yesterday().start;pickupEndDate=yesterday().end;" class="btn btn-primary btn-sm" style="width:80px">Yesterday</button>
                                        <button ng-click="pickupStartDate=today().start;pickupEndDate=today().end;" class="btn btn-info btn-sm" style="width:80px">Today</button>
                                        <button ng-click="pickupStartDate=tomorrow().start;pickupEndDate=tomorrow().end;" class="btn btn-warning btn-sm" style="width:80px">Tomorrow</button>
                                        <button ng-click="pickupStartDate='';pickupEndDate='';" class="btn btn-danger btn-sm" style="width:80px">Clear</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="width:100%;padding-top:20px">
                            <table>
                                <tr>
                                    <td>
                                        <label>By Delivery Date</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        From
                                    </td>
                                    <td>
                                        To
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px;padding-right:5px">
                                            <span ng-click="openETAStart($event)" class="input-group-addon" style="cursor:pointer">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                            <input
                                                ng-model="etaStartDate"
                                                ng-click="openETAStart($event)"
                                                type="text" class="form-control"
                                                style="width:150px"
                                                datepicker-popup="dd-MMM-yyyy hh:mm"
                                                min-mode="time"
                                                datepicker-mode="time"
                                                is-open="openedETAStart"
                                                close-on-date-selection="true"
                                                date-disabled="disabled(date, mode)"
                                                show-button-bar="false"
                                                show-weeks="false"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group" style="padding-bottom:5px">
                                            <span ng-click="openETAEnd($event)" class="input-group-addon" style="cursor:pointer">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                            <input
                                                ng-model="etaEndDate"
                                                ng-click="openETAEnd($event)"
                                                type="text" class="form-control"
                                                style="width:150px"
                                                datepicker-popup="dd-MMM-yyyy hh:mm"
                                                min-mode="time"
                                                datepicker-mode="time"
                                                is-open="openedETAEnd"
                                                close-on-date-selection="true"
                                                date-disabled="disabled(date, mode)"
                                                show-button-bar="false"
                                                show-weeks="false"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button ng-click="etaStartDate=yesterday().start;etaEndDate=yesterday().end;" class="btn btn-primary btn-sm" style="width:80px">Yesterday</button>
                                        <button ng-click="etaStartDate=today().start;etaEndDate=today().end;" class="btn btn-info btn-sm" style="width:80px">Today</button>
                                        <button ng-click="etaStartDate=tomorrow().start;etaEndDate=tomorrow().end;" class="btn btn-warning btn-sm" style="width:80px">Tomorrow</button>
                                        <button ng-click="etaStartDate='';etaEndDate='';" class="btn btn-danger btn-sm" style="width:80px">Clear</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="padding-top:20px">
                            <label>Show Fields</label>
                        </div>
                        <div ng-repeat="field in fields" style="float:left;padding-right:5px">
                            <span ng-click="field.selected = !field.selected" style="cursor:pointer" class="label" ng-class="{'label-primary': field.selected, 'label-default': !field.selected}">^^field.title^^</span>
                        </div>

                        <div style="margin-top:40px">
                            <button ng-if="!saveMode" ng-click="search()" type="button" class="btn btn-info">Search Consignments</button>
                            <button ng-if="!saveMode" ng-click="setSaveMode(true)" type="button" class="btn btn-info">Save this Search</button>
                            <div ng-if="saveMode" class="input-group" style="float:left;width:400px;margin-bottom:20px">
                                <span class="input-group-btn">
                                    <button ng-click="setSaveMode(false)" class="btn btn-danger" type="button">Cancel</button>
                                </span>
                                <input ng-model="$parent.searchName" placeholder="Give your search a name" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button ng-click="save()" class="btn btn-info" type="button">Save</button>
                                </span>
                            </div>
                        </div>
                        <div ng-include="'../static/js/app/views/partials/search/results.html'" style="margin-top:20px" />
                        <div style="margin-top:-10px;text-align:right">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:200px;margin-left:5px">
                                        <multi-entity-selector export-action="export()" entities="entities"></multi-entity-selector>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
</section>

<div ng-include="'../static/js/app/views/alert.html'" />