<section class="panel">
    <div class="panel-body">
        <section id="unseen">
            <header class="panel-heading big-font">
                <div class="input-group" style="padding-bottom:5px">
                    Supplies
                </div>
            </header>
            <div class="panel-body">
                <div ng-if="supplies.length == 0" class="well">
                    No Supplies
                </div>
                <table ng-if="supplies.length > 0" class="table table-bordered table-striped" cg-busy="{promise:promise,message:message}">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supply in supplies">
                            <td style="width:85%">
                                <div ng-if="!supply.isEditing && !supply.isNew">
                                    <div >^^supply.description^^</div>
                                </div>
                                <div ng-if="supply.isEditing || supply.isNew">
                                    <input ng-model="supply.description" placeholder="Description" class="form-control round-input" type="text"/>
                                </div>
                            </td>
                            <td class="numeric" style="width:15%">

                                <!-- Buttons normal mode -->
                                <div ng-if="!supply.isEditing && !supply.isNew" style="text-align:center">
                                    <button ng-click="editSupply($index)" type="button" class="btn  btn-warning">Edit</button>
                                    <button ng-click="deleteSupply($index)" type="button" class="btn btn-danger">Delete</button>
                                </div>
                                <!-- Buttons normal mode ends -->

                                <!-- Buttons edit mode -->
                                <div ng-if="supply.isEditing && !supply.isNew" style="text-align:center">
                                    <button ng-click="updateSupply($index)" type="button" class="btn btn-success">Update</button>
                                    <button ng-click="cancelEdit($index)" type="button" class="btn btn-primary">Cancel</button>
                                </div>
                                <!-- Buttons edit mode ends -->

                                <!-- Buttons add-new mode -->
                                <div ng-if="supply.isNew" style="text-align:center">
                                    <button ng-click="saveSupply($index)" type="button" class="btn btn-success">Save</button>
                                    <button ng-click="cancelAdd($index)" type="button" class="btn btn-primary">Cancel</button>
                                </div>
                                <!-- Button add-new mode ends -->

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button ng-click="addSupply()" class="btn btn-default">Add Supply</button>
            </div>
        </section>
    </div>
</section>

<div ng-include="'../static/js/app/views/alert.html'" />